<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <div>
            <form method="POST" action="/login">
                {{ form.username(placeholder="username") }}
                {{ form.password(placeholder="password") }}
                <button type="submit" value="Connect">CONNECT</button>
            </form>
        </div>
    </body>
</html>